*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
}

h1 {
  text-align: center;
  color: #fff;
}

.container {
  background-color: hwb(166 0% 40%);
  display: grid;
  /* grid-template-columns: repeat(2, 4rem); */
  /* grid-template-rows: 2rem 7rem 2rem 7rem 2rem 2rem; */
  /* gap: .5rem; */
  cursor: pointer;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 5% 5% 50% 50%;
}

.computerSide {
  display: flex;
  justify-content: center;
}

.playerSide {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}

.playerMoveContainer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  /* background-color: #333; */
  width: 30rem;
}


.computer-card-two {
  background-color: purple;
}

.player-deck {
  background-color: blue;
}

.player-move {
  padding: 10px;
  width: 4rem;
  height: 2rem;
}

.text {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-move {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
}

.player-start {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  margin-top: 10px;
  font-size: 2rem;
  /* width: 5rem; */
  background-color: #fff;
}

.player-move:hover {
  background-color: grey;
}

.player-start:hover {
  background-color: red;
}


.card {
  background-color: #fff;
  position: relative;
  height: 8rem;
  width: 5.5rem;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card-hide {
  background-color: hwb(165 18% 27%);
  position: relative;
  height: 8rem;
  width: 5.5rem;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card-hit {
  background-color: #fff;
  position: relative;
  height: 7rem;
  width: 4.5rem;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem;
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}