*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
}

h1 {
  text-align: center;
  color: #fff;
}

.container {
  background-color: hwb(166 0% 40%);
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%;
  flex: 1; */
  cursor: pointer;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 5% 5% 50% 50%;
}

.playerMoveContainer {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: #333; */

}


.computerSide {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}

.playerSide {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}



.computer-card-two {
  background-color: purple;
}

.player-deck {
  background-color: blue;
}


.text-player {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-dealer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-update {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-move {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  padding: 0px;
  width: 4rem;
  height: 2rem;
  border-radius: 20px;
}

.player-start {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  font-size: 1.5rem;
  width: 7rem;
  background-color: #fff;
}

.player-move:hover {
  background-color: grey;
}

.player-start-btn:hover {
  background-color: rgb(182, 66, 66);
}


.card {
  background-color: #fff;
  position: relative;
  height: 8rem;
  width: 5.5rem;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card-hide {
  background-color: hwb(165 18% 27%);
  position: relative;
  height: 8rem;
  width: 5.5rem;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card-hit {
  background-color: #fff;
  position: relative;
  height: 6rem;
  width: 3.5rem;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem;
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}