*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  text-align: center;
}

h1 {
  text-align: center;
  color: #199465;
  font-size: 3.5rem;
}

h2 {
  color: #137550;
  font-size: 1.5rem;
}

.container {
  background-color: rgba(65, 145, 111, 0.5);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 5% 5% 50% 50%;
  border: 3px solid rgba(0, 0, 0, 0.288);
}

.playerMoveContainer {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;

}

/* Cards Slots */
.computerSide {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}

.computerSide div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: aqua; */
}

.playerSide div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-player {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-dealer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-update {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-move {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  padding: 0px;
  width: 4rem;
  height: 2rem;
  border-radius: 20px;
}

.player-start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  font-size: 1.5rem;
  width: 7rem;
  background-color: #fff;
}

.player-move:hover {
  background-color: grey;
}

.player-start-btn:hover {
  background-color: rgb(182, 66, 66);
}


.card {
  background-color: #fff;
  position: relative;
  height: 12rem;
  width: 8rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin: .2rem;
}

/* .player-card-slot {
  background-color: black;
  background-position: center;
  position: relative;
  height: 12rem;
  width: 8rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin: .2rem;
} */

.card-hide {
  background-image: url("img/MLogo.JPG");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 12rem;
  width: 8rem;
  border: 3px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin: .2rem;
}

.card-hit {
  background-color: #fff;
  position: relative;
  height: 10rem;
  width: 6.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 2rem;
}

.card::before {
  top: .5rem;
  left: .5rem;
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}